<header class="header-section">
  <div class="container header-container">
    <a href="./index.html">
      <svg class="logo-header">
        <use href="../assets/images/sprite.svg#icon-logo"></use>
      </svg>
    </a>

    <ul class="header-nav-list">
      <li class="header-nav-item">
        <a href="/src/index.html" class="nav-text-desk">Головна</a>
      </li>
      <li class="header-nav-item">
        <a href="#" class="nav-text-desk">Про нас</a>
      </li>
      <li class="header-nav-item">
        <a href="#" class="nav-text-desk">Проєкти</a>
      </li>
      <li class="header-nav-item">
        <a href="/src/contactsPage.html" class="nav-text-desk">Контакти</a>
      </li>
    </ul>

    <button type="button" class="contactUs-btn">Зв’язатися з нами</button>

    <button
      type="button"
      id="burger-button"
      class="js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="burger-btn">
        <use href="../assets/images/sprite.svg#icon-burger"></use>
      </svg>
    </button>

    <select name="lang" class="select-lang">
      <option value="UA" selected>UA</option>
      <option value="EN">EN</option>
    </select>
  </div>
</header>
