<header class="header-section">
  <div class="container header-conteiner">
    <a href="#">
      <svg class="logo-header">
        <use href="../assets/images/sprite.svg#icon-logo"></use>
      </svg>
    </a>

    <ul class="header-nav-list">
      <li><p>Головна</p></li>
      <li><p>Про нас</p></li>
      <li><p>Проєкти</p></li>
      <li><p>Контакти</p></li>
    </ul>

    <button type="button" class="contactUs-btn">Зв’язатися з нами</button>

    <button type="button">
      <svg class="burger-btn">
        <use href="../assets/images/sprite.svg#icon-burger"></use>
      </svg>
    </button>

    <select name="lang" class="select-lang">
      <option value="UA" selected>UA</option>
      <option value="EN">EN</option>
    </select>
  </div>
</header>
