/* HERO SECTION */

.hero-section {
  padding-top: 50px;
  padding-bottom: 20px;
}

.hero-title {
  margin-bottom: 15px;

  color: var(--text-color);
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}

.hero-subTitle {
  margin-bottom: 20px;

  color: var(--text-color);
  font-size: 14px;
  font-weight: 300;
}

.hero-text-list {
  margin-bottom: 15px;
}

.hero-text-item {
  margin-bottom: 20px;
}

.hero-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 300;
  line-height: calc(27 / 14);
}

.barcelona-logo {
  width: 200px;
  height: 53px;
  margin-bottom: 15px;
}

@media screen and (min-width: 1240px) {
  .hero-section {
    position: relative;
    padding-top: 70px;
    padding-bottom: 100px;
  }

  .hero-title {
    margin-bottom: 26px;
    font-size: 40px;
  }

  .hero-subTitle {
    margin-bottom: 40px;
    font-size: 20px;
  }

  .flex-container {
    display: flex;
    position: relative;
  }

  .hero-img {
    width: 663px;
    height: 544px;
    order: -1;
  }

  .hero-text-width-1 {
    width: 809px;
    margin-left: -270px;
  }

  .hero-text-width-2 {
    width: 712px;
    margin-left: -170px;
  }

  .hero-text-width-3 {
    width: 610px;
    margin-left: -70px;
  }

  .hero-text-list {
    margin-bottom: 0;
  }

  .hero-text-item {
    margin-bottom: 0;
  }

  .hero-text-item:nth-child(1) {
    margin-bottom: 45px;
  }

  .hero-text-item:nth-child(2) {
    margin-bottom: 70px;
  }

  .hero-text {
    font-size: 18px;
    line-height: calc(27 / 18);
  }

  .barcelona-logo {
    position: absolute;
    bottom: 0px;
    right: 155px;
    width: 313px;
    height: 83px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1500px) {
  .hero-section::after {
    content: '';
    position: absolute;
    left: 0;
    width: 10%;
    top: 92px;
    height: 1px;
    background-color: var(--secondary-background-color);
  }
}

/* ABOUT SECTION */

.about-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--secondary-background-color);
}

.about-title {
  margin-bottom: 20px;

  color: var(--black-text-color);
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}

.about-btn-list {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;

  overflow-y: scroll;
}

.about-btn {
  width: 212px;
  height: 40px;
  padding: 12px 5px;
  border: 1px solid var(--btn-text-color);

  color: var(--btn-text-color);
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.about-img {
  margin-bottom: 10px;
}

.about-text {
  color: var(--black-text-color);
  font-size: 14px;
  font-weight: 300;
  line-height: 130%;
}

@media screen and (min-width: 1240px) {
  .about-section {
    position: relative;
    padding-top: 140px;
    padding-bottom: 140px;
  }

  .about-title {
    margin-bottom: 60px;
    font-size: 40px;
  }

  .about-btn-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 0px;

    overflow-y: auto;
  }

  .about-flex-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
  }

  .about-btn {
    width: 285px;
    height: 47px;
    padding: 14px 0px 13px;
    border: 1px solid var(--btn-text-color);

    color: var(--btn-text-color);
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;

    transition: background-color var(--main-transition),
      color var(--main-transition), border var(--main-transition);
  }

  .about-btn:hover {
    border: 1px solid var(--background-color);

    background-color: var(--background-color);
    color: var(--text-color);
  }

  .about-btn.btn-black {
    border: 1px solid var(--background-color);

    background-color: var(--background-color);
    color: var(--text-color);
  }

  .about-img {
    margin-bottom: 0px;
    width: 855px;
    height: 479px;
  }

  .about-text {
    width: 845px;
    font-size: 18px;
    margin-right: 0;
    margin-left: auto;
    margin-top: -60px;
  }
}

@media screen and (min-width: 1500px) {
  .about-section::after {
    content: '';
    position: absolute;
    left: 0;
    width: 10%;
    top: 160px;
    height: 1px;
    background-color: var(--background-color);
  }
}

/* CONTACT SECTION */

.contact-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--secondary-background-color);
}

.contact-logo {
  fill: var(--background-color);
  stroke: var(--background-color);
  width: 157px;
  height: 55px;
  margin-bottom: 40px;
}

.contact-item:not(:last-child) {
  margin-bottom: 30px;
}

.contact-subTitle {
  margin-bottom: 10px;

  color: var(--grey);
  font-size: 14px;
  font-weight: 250;
}

.contact-text {
  display: block;
  color: var(--black-text-color);
  font-size: 14px;
  font-weight: 300;
}

.contact-text.tel {
  margin-top: 10px;
}

@media screen and (max-width: 1239.98px) {
  .contact-img {
    display: none;
  }
}

@media screen and (min-width: 1240px) {
  .contact-homepage-container {
    display: flex;
    gap: 36px;
  }

  .contact-section {
    position: relative;
    padding-top: 70px;
    padding-bottom: 0px;
  }

  .contact-logo {
    width: 306px;
    height: 107px;
    margin-bottom: 180px;
  }

  .contact-item:not(:last-child) {
    margin-bottom: 50px;
  }

  .contact-subTitle {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .contact-text {
    font-size: 20px;
  }

  .contact-img {
    width: 692px;
    height: 874px;
  }
}

@media screen and (min-width: 1500px) {
  .contact-section::after {
    content: '';
    position: absolute;
    left: 0;
    width: 10%;
    top: 115px;
    height: 1px;
    background-color: var(--background-color);
  }
}
