.nav-modal-container {
  position: fixed;
  top: 46;

  width: 100vw;
  height: 100vh;
  padding: 40px 20px;

  background-color: var(--background-color);
  overflow-y: scroll;

  z-index: 10;

  visibility: hidden;
  pointer-events: none;
  opacity: 0;

  transition: opacity var(--main-transition), visibility var(--main-transition);
}

.mob-menu-text-list {
  margin-bottom: 170px;
}

.mob-menu-text-item:not(:last-child) {
  margin-bottom: 60px;
}

.mob-menu-text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

.icon-building {
  position: absolute;
  bottom: 45;
  right: 0;

  z-index: -1;
}

.is-open {
  visibility: visible;
  pointer-events: visible;
  opacity: 1;
}
